.header nav li:hover {
    color: #000;
    text-decoration: underline;
}

.background-video {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
}

.video-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inspiring-section > div {
    flex-basis: 50%;
}

.inspiring-section p {
    max-width: 600px;
    margin: 25px auto;
    text-align: justify;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    color: #333;
}

.cards > * {
    flex: 0 1 33%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card {
    background: #fff;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.card:hover {
    transform: scale(0.95);
}

.card-text p {
    margin-bottom: 30px;
}

.card-text .date,
.card-text .author {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.card-text .date {
    left: 0;
}

.card-text .author {
    right: 0;
}

.card-img img {
    object-fit: cover;
    max-height: 200px;
    width: 100%;
}

/* Slider */
.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider .prev,
.slider .next {
    position: absolute;
    top: 50%;
    z-index: 10;
    color: #fff;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    transform: translateY(-50%);
}

.slider .next {
    right: 0;
}

.slider .prev:hover,
.slider .next:hover {
    opacity: 0.5;
}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.slider .current {
    opacity: 1 !important;
}

/* Contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    max-width: 400px;
    width: 100%;
}

.contact-form label {
    display: none;
}

.contact-form input {
    height: 40px;
}

.contact-form input,
.contact-form textarea {
    background-color: rgba(99, 99, 99, 0.2);
    padding: 10px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: 1px solid #dca57d;
}

/* Contact icons width */
.contact-section i {
    width: 32px;
}

.nav-button {
    display: none;
}

.show {
    display: block !important;
}

/* Back to top */
.top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 200;
    cursor: pointer;
    color: #dca57d;
}

/* Meida */
@media (max-width: 900px) {
    .inspiring-section,
    .concept .flex,
    nav .flex,
    .cards,
    .contact-section .flex,
    .post-show.flex {
        flex-direction: column !important;
    }

    .contact-section {
        text-align: center;
    }

    .contact-form {
        margin-left: auto;
        margin-right: auto;
    }

    .h1 {
        font-size: 3.5rem;
    }

    .inspiring-section p {
        text-align: left;
    }

    .btn {
        letter-spacing: 0.1rem;
    }

    .header + * {
        margin-top: 81px;
    }

    .header {
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
    }

    .header .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header nav {
        display: none;
        position: absolute;
        width: 100%;
        background: #fff;
        top: 40px;
        left: 0;
        padding: 10px;
    }

    .nav-button {
        display: block;
    }

    .header img {
        width: 150px;
        height: 40px;
    }
}

@media (max-width: 380px) {
    .h1 {
        font-size: 2.5rem;
    }
}
