.background-video {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
}

.video-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inspiring-section > div {
    flex-basis: 50%;
}

.inspiring-section p {
    max-width: 400px;
    margin: 20px auto;
    text-align: justify;
}

/* Entries */
.entries {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

.entry {
    background: #fff;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-basis: 1 1 auto;
}

.entry-img img {
    object-fit: cover;
    max-height: 200px;
    width: 100%;
}

/* Slider */
.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider .prev,
.slider .next {
    position: absolute;
    top: 50%;
    z-index: 10;
    color: #fff;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    transform: translateY(-50%);
}

.slider .next {
    right: 0;
}

.slider .prev:hover,
.slider .next:hover {
    opacity: 0.5;
}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.slider .current {
    opacity: 1 !important;
}

/* Contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
}

.contact-form label {
    display: none;
}

.contact-form input {
    height: 40px;
}

.contact-form input,
.contact-form textarea {
    background-color: rgba(99, 99, 99, 0.2);
    width: 400px;
    padding: 10px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid white;
}
