/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Oswald:wght@300;400;500&display=swap");

@variants group-hover, hover, focus {
    .border-accent {
        border: 1px solid #dca57d;
    }
}

.form-input {
    @apply bg-dark border border-black outline-none ring-0 focus:ring-0 focus:border-accent w-full;
}

.font-primary {
    font-family: "Nunito", sans-serif;
}

.font-secondary {
    font-family: "Oswald", sans-serif;
}

.bg-dark {
    background-color: rgb(23, 23, 23);
}

.text-dark {
    color: #333;
}

.text-accent {
    color: #dca57d;
}

.outline-accent {
    outline: 1px solid #dca57d;
}

.tracking-ultra {
    letter-spacing: 0.2em;
}

.btn-white {
    @apply border-4 font-secondary uppercase tracking-ultra py-1 px-4 font-medium hover:tracking-widest transition-all duration-300 ease-in-out hover:bg-opacity-20 hover:bg-white;
}

.btn-black {
    @apply border-4 border-black font-secondary uppercase tracking-ultra py-1 px-4 font-medium hover:tracking-widest transition-all duration-300 ease-in-out hover:bg-opacity-20 hover:bg-black;
}

.section-heading {
    @apply mb-4 uppercase font-secondary text-3xl font-medium tracking-wider;
}

.section-subheading,
.post h2 {
    @apply mb-4 uppercase font-secondary text-xl font-medium tracking-wider;
}

.post h3 {
    @apply mb-4 uppercase font-secondary text-lg font-medium tracking-wider;
}

.post h4 {
    @apply mb-4 uppercase font-secondary text-base font-medium tracking-wider;
}

.section-paragraph,
.post p {
    @apply leading-relaxed text-lg;
}

.current {
    opacity: 1 !important;
}

.line-after::after {
    display: block;
    content: "";
    height: 3px;
    width: 150px;
    background: #dca57d;
    @apply my-4;
}

.post a {
    text-decoration: underline;
    color: blue;
}

.post ul {
    list-style: disc inside;
}

.post ol {
    list-style: decimal inside;
}

.post p {
    text-align: justify;
}

.post table,
.post td {
    border: 1px solid #333;
}
